<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>in.connect2tech.basics.ExcelData</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>rowOperation_Java8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>first_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>retainColumns</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>last_3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>columnNames</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>rowOperation1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getStructure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>gettingColumns</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>excelSetUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
