<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>20/06/18 15:59:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ExcelData.excelSetUp()[pri:0, instance:in.connect2tech.basics.ExcelData@6737fd8f]">&gt;&gt;excelSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@495792375</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>20/06/18 15:59:24</td>   <td>818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExcelData.rowOperation_Java8()[pri:0, instance:in.connect2tech.basics.ExcelData@6737fd8f]">rowOperation_Java8</td> 
  <td>main@495792375</td>   <td></td> </tr>
</table>
