<h2>Methods that were not run</h2><table>
<tr><td>in.connect2tech.basics.ExcelData.getStructure</td></tr>
<tr><td>in.connect2tech.basics.ExcelData.first_3</td></tr>
<tr><td>in.connect2tech.basics.ExcelData.columnNames</td></tr>
<tr><td>in.connect2tech.basics.ExcelData.last_3</td></tr>
<tr><td>in.connect2tech.basics.ExcelData.rowOperation1</td></tr>
<tr><td>in.connect2tech.basics.ExcelData.retainColumns</td></tr>
<tr><td>in.connect2tech.basics.ExcelData.gettingColumns</td></tr>
</table>