<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8067a5">  <td>20/06/27 10:08:28</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CRUDTest.getDatabaseNamesMongo()[pri:1, instance:in.connect2tech.basic.dockers.CRUDTest@32709393]">getDatabaseNamesMongo</td> 
  <td>main@103887628</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>20/06/27 10:08:27</td>   <td>-906</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CRUDTest.setUp()[pri:0, instance:in.connect2tech.basic.dockers.CRUDTest@32709393]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@103887628</td>   <td></td> </tr>
</table>
